.dashboard-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.form-div {
  width: 768px;
  padding: 30px;
  border-radius: 30px;
  height: auto;
  background-color: #0f5132;
}

label {
  color: white;
}
