<div class="select-wrapper">
  <div class="select-box" (click)="toggleBox()">
    <app-text>{{ hint }}</app-text>
    <app-image
      [type]="'icon'"
      [src]="chevronDownSrc"
      [alt]="chevronDownAlt"
    ></app-image>
  </div>
  <div *ngIf="showBox" class="item-box-wrapper">
    <ng-container *ngFor="let item of list">
      <div class="item-box" (click)="selectItem(item.author)">
        <app-text [class]="'item'">{{ item.author }}</app-text>
      </div>
    </ng-container>
  </div>
</div>
