.booklist-wrapper {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  padding: 5px 5px 25px 5px;
}
