<div class="admin-wrapper" *ngIf="!authenticated">
  <form (keyup.enter)="$event.preventDefault(); onLogin($event)">
    <div class="form-div">
      <app-input
        [class]="'book-name'"
        [hint]="usernameHint"
        [type]="'text'"
        [control]="form.get('username')"
      ></app-input>
      <app-input
        [class]="'book-name'"
        [hint]="passwordHint"
        [type]="'text'"
        [control]="form.get('password')"
      ></app-input>
    </div>
  </form>
</div>

<div class="wrapper" *ngIf="authenticated">
  <div class="btn" style="margin-top: 12px">
    <app-button [class]="'search-btn'" (btnClick)="clickLibrary()">
      <app-text>{{ library }}</app-text>
    </app-button>
  </div>

  <div class="btn" style="margin-top: 12px">
    <app-button [class]="'search-btn'" (btnClick)="clickSale()">
      <app-text>{{ sale }}</app-text>
    </app-button>
  </div>
</div>
