button {
  border: none;
  outline: none;
  background: transparent;
}

.btn-disable {
  cursor: not-allowed;
}

.search-btn {
  background: #0dcaf0;
  width: 100%;
  height: 56px;
  padding: 0px 24px;
  border: 1px solid grey;
  border-radius: 30px;
  color: white;
}

.load-more {
  background: #198754;
  width: 100%;
  height: 56px;
  padding: 0px 24px;
  border: 1px solid grey;
  border-radius: 30px;
  color: white;
}

.back {
  border: 1px solid #198754;
  height: 56px;
  padding: 0px 24px;
  border-radius: 30px;
  color: black;
}
