<div class="home-page-wrapper">
  <div class="action-btn">
    <app-input
      [class]="'book-name'"
      [hint]="bookNameHint"
      [type]="'text'"
      [control]="form.get('bookName')"
    ></app-input>
    <app-select
      [class]="'author-name'"
      [hint]="authorNameHint"
      [type]="'text'"
      [list]="authorList"
      (choseItem)="selectedAuthor($event)"
    ></app-select>
    <app-button
      [class]="'search-btn'"
      style="margin-top: 12px"
      (btnClick)="search()"
    >
      <app-text>{{ searchBtnText }}</app-text>
    </app-button>
  </div>
</div>
